html, body{
  font-family: var(--font-monster);
  p{
    color: var(--red);
  }
  a{
    font-family: var(--font-poppins);
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  display: none;
  
}

::-webkit-scrollbar-track {
  background: rgb(190, 190, 190); 
}

::-webkit-scrollbar-thumb {
  background-color: rgb(78, 78, 78); 
  border-radius: 20px;       
}
