@mixin flexBox ($dis, $direction, $just, $align ) {
  display: $dis;
  flex-direction: $direction;
  justify-content: $just;
  align-items: $align;
}

@mixin flexCenterItems ($dis, $direction, $align ) {
  display: $dis;
  flex-direction: $direction;
  align-items: $align;
}

@mixin fontSizeAndColor ($siz, $clr ) {
  font-size: $siz;
  color: $clr;
}

@mixin fontSizeAndType ($siz, $fontT ) {
  font-size: $siz;
  font-family: $fontT;
}

@mixin portatil() {
  @media screen and (min-width: 768px ) {
    @content;
  }
}

@mixin iPad() {
  @media screen and (max-width: 768px ) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: 428px ) {
    @content;
  }
}

.container-home {
  flex: 1;
  background-color: var(--white);

  .container-img {
    background-image: url('../../assets/bcq.jpg');
    height: 415px;
    background-position: center;
    background-size: cover;
    @include iPad(){
      height: 249px;
    }
    @include mobile(){
      height: 234px;
    }

    .container-font{
      @include iPad(){
        top: 12%;
        left: 15%; 
      }
      position: absolute;
      top: 23%;
      left: 20%; 
      display: flex; 
      flex-direction: column;
      .span-title{
        @include fontSizeAndColor( 74px, var(--white));
        font-family: var(--font-poppins);
        @include mobile(){
          @include fontSizeAndColor( 51px, var(--white));
        }
      }
      .span-subtitle{
        @include fontSizeAndColor( 67px, var(--white));
        margin-top: -50px;
        @include mobile(){
          @include fontSizeAndColor( 51px, var(--white));
          margin-top: -35px;
        }
      }

    }
  }

  .container-menu-principal{
    display: none;
    @include iPad(){
      @include flexCenterItems( flex, row, center);
      margin-left: 35px; 
      margin-right: 35px; 
      margin-top: -30px;
      width: 90%;
      overflow: auto;
    }
    @include mobile(){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .container-item-menu{
    @include flexBox( flex, column, space-evenly, center);
      background: transparent linear-gradient(180deg, #E9F1FA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
      box-shadow: 0px 5px 9px #8395A766;
      border-radius: 10px;
      margin-right: 13px;
      min-width: 104px;
      margin-bottom: 15px;
      min-height: 85px;
      span {
        @include fontSizeAndColor( 13px, var(--dark_blue));
        font-family: var(--font-poppins);
      }
    }
  }
  .container-new-recipes {
    margin-left: 70px; 
    margin-right: 70px; 
    margin-top: 25px;
    margin-bottom: 85px;
    height: 450px;
    @include mobile(){
      margin-top: 5px;
      margin-bottom: 0px;
    }
    .span-new-recipes{
      @include fontSizeAndColor( 54px, var(--red));
    }
    .container-slider-recipe{
      display: flex;
      flex-direction: row; 
      overflow: auto; 
      width: 100%;
      .container-recipe{
        @include flexCenterItems( flex, column, center);
        background: transparent linear-gradient(180deg, #E9F1FA 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 5px 9px #8395A766;
        border-radius: 10px;
        min-width: 265px;
        min-height: 270px;
        margin-top: 50px;
        margin-right: 25px;
        margin-bottom: 15px;
        @include mobile(){
          min-width: 180px;
          min-height: 172px;
        }
        @include portatil(){
        &:hover{
          height: 335px;
          .container-all-recipe{
            .container-details-recipe{
              display: flex;
            }
          }
          .container-title-recipe{
            display: none;
          }
          .container-basic{
            display: none;
          }
        }
        }
        .container-all-recipe{
          flex: 0.8;
          .img-recipe{
            margin-left: 45px;
            width: 104px;
            height: 98px;
            border-radius: 70px;
            margin-top: -53px;
            @include mobile(){
              margin-left: 30px;
              width: 80px;
              height: 80px;
            }
          }
          .container-title-recipe{
            @include mobile(){
              width: 150px;
            }
            width: 200px;
            .span-title-name{
              @include mobile(){
                @include fontSizeAndColor( 13px, var(--red));
              }
              @include fontSizeAndColor( 20px, var(--red));
              font-family: var(--font-poppins);
            }
            .span-title-lastname{
              @include mobile(){
                @include fontSizeAndColor( 20px, var(--red));
              }
              @include fontSizeAndColor( 30px, var(--red));
            }
          }
          .container-details-recipe{
            @include flexCenterItems( none, column, center);
            width: 200px;
            .container-details-items{
              @include flexCenterItems( flex, column, center);
              .span-details-title{
                @include fontSizeAndColor( 17px, var(--red));
              }
              .span-details-subtitle{
                @include fontSizeAndType( 17px, var(--font-poppins));
              }
            }
          }
        }
        .container-basic{
          @include flexBox( flex, row, space-between, center);
          flex: 0.2; 
          width: 90%;
          
          .icon-basic{
            @include mobile(){
              width: 16px;
              height: 16px;
            }
          }
          .span-points{
            @include mobile(){
              @include fontSizeAndType( 17px, var(--font-poppins));
            }
            @include fontSizeAndType( 26px, var(--font-poppins));
            margin-left: 5px;
          }
        }
      }
  }
  }
  
  
}

